# IDE settings
/.vscode/
/.idea/
/.vs/
*.sln.DotSettings.user

# Build results
/src/*/bin/
/src/*/obj/
/tests/*/bin/
/tests/*/obj/

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
[Ll]og/

# Sandbox directory
sandbox/

# Coverage
tests/coverage/
tests/coverage-report/

# Visual Studio temporary files
.vs/